<!DOCTYPE html>
<html lang="de">
	<head>
		<link rel="stylesheet" href="static/css/formulare.css">
		<meta charset="utf-8">
		<title></title>
	</head>
	<body bgcolor=f0f8ff>
		<h1><a {{ ausgaben_eingabe }}>Erfassung der Ausgaben</a></h1>
        <br>
		<p><i>Bitte erfasse hier deine Ausgaben mit dem Tagesdatum und Ausgabenhöhe.<br>
		   Die Eingabe anschliessend mit dem Button jeweils speichern.</i></p>
		<br>
		<form method="POST">

			<label><b>Nr. Tageserfassung (ID): </b></label>
			<input type="number" name="id_key" min="0" step="1" placeholder="Nr.">
			<br>
			<br>
		   <label><b>Datum der Ausgabe: </b></label>
			  <input type="date" name="datum" placeholder="Datum der Ausgabe">

		   <label><b>CHF: </b></label>
				  <input type="number" min="0" step="1" name="ausgabe" placeholder="Ausgaben in CHF">
			<label><b>Ausgaben-Thema: </b>
				 <select name="ausgaben_thema" size="1">
				   <option>Wohnen (z.B. Miete)</option>
				   <option>Lebensmittel</option>
				   <option>Auto/Zug</option>
				   <option>Essen/Reisen/Unterhaltung</option>
				   <option>Ausbildung/Weiterbildung</option>
					<option>Sonstiges</option>
				 </select>
				</label>
			  <button type="submit">speichern</button>
		</form>
	</body>
</html>