
<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Web-App Ausgabekontrolle by Darhubat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href='static\css\landing_page.css'>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a class="logo">Web-App Ausgabenkontrolle by Darhubat</a>
					<nav id="nav">
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
			<br>
			<br>
		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Web-App AUSGABENKONTROLLE</h1>
						<h3> Wähle nachstehend die gewünschte Funktion der App <br>
						über die drei untenstehenden Buttons aus</h3>
						<br>
						<br>
						<br>
					</header>
					<button type="button" ><strong>Erfassen der Ausgaben</strong></button>
					<p>Mit dieser Funktion können Sie die täglichen Ausgaben erfassen und speichern. <br>
					Bitte geben Sie jeweils immer folgende Parameter ein:
					<ul>
					<li>Erfassungs-Nr.: Die wievielte Tages-Ausgaben-Erfassung ist es</li>
					<li>Datum: Wählen Sie das Tagesdatum der Ausgaben aus dem Kalender</li>
					<li>Betrag: Geben Sie Betrag Ihrer Ausgaben in CHF ein</li>
					<li>Ausgaben-Thema: Weisen Sie Ihren Ausgaben ein Thema aus der Liste zu</li>
					</ul>
					</p>
					<br>
					<br>

					<button type="button" ><strong>Erfassen des Monatsbudgets</strong></button>
					<p>Mit dieser Funktion können Sie die Monatsbudget erfassen und speichern. <br>
					Bitte geben Sie jeweils immer folgende Parameter ein:
					<ul>
					<li>Datum: Wählen Sie ein Monastdatum aus dem Kalender</li>
					<li>Betrag: Geben Sie Betrag Ihres Monats-Budgets in CHF ein</li>
					</ul>
					</p>
					<br>
					<br>

					<button type="button" ><strong>Visualisierungen aufrufen</strong></button>
					<p>Mit den Visualisierungen können Sie die erfassten Ausgaben und das<br>
					Budget mithilfe von Grafiken vergleichen und sehen, ob Sie Ihr Budget bereits überziehen.</p>
					<br>
					<br>
					<br>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<div class="copyright">
						&copy; Darhubat
					</div>

				</div>
			</footer>

	</body>
</html>