
<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Web-App "Ausgabekontrolle by Darhubat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="03_CSS/static/landing_page.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Web-App Ausgabenkontrolle</strong> by Darhubat</a>
					<nav id="nav">
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Funktionen der App</h2>
						<p> Wähle die gewünschte Funktion </p>
						<br>
						<br>
						<br>
					</header>
					<div class="image round left">
						<img src="C:\Users\dhuab\OneDrive\Dokumente\PC\FHGR\Master Information _ Data Management\FS2021\Python 2\ausgaben.png" alt="Pic 01" />
					</div>
					<p>Beschrieb Funktion_1 (Erfassen der Ausgaben)</p>
					<br>
					<br>

					<div class="image round right">
						<img src="C:\Users\dhuab\OneDrive\Dokumente\PC\FHGR\Master Information _ Data Management\FS2021\Python 2\visualisierung.jpg" alt="Pic 02" />
					</div>
					<p>Beschrieb Funktion_2 (Erfassen des Monatsbudgets)</p>
					<br>
					<br>

					<div>
					<img src="images/visualisierung.jpg" alt="Pic 03" />
					</div>
					<p>Beschrieb Funktion_3 (Visualisierung Budget vs. Ausgaben)</p>
					<br>
					<br>
					<br>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<div class="copyright">
						&copy; Darhubat
					</div>

				</div>
			</footer>

	</body>
</html>